button{
    margin-right: 10px;
}
.ant-card-bordered{
    margin-bottom: 10px;
}
.ant-spin-spinning{
    margin-right: 10px!important;
}
.ant-alert-with-description{
    margin-bottom: 10px!important;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.slider-wrap .ant-carousel .slick-slide{
    height: 400px!important;
}
.slider-wrap .ant-carousel .slick-slide img{
    width: 100%;
    height: auto;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}