.container{
    display: flex;
}
.nav-left{
    /* width: 15%; */
    min-width: 180px;
    height: calc(100vh);
    /* background-color: red; */
}
.main {
    flex: 1;
    /* height: calc(100vh); */
    background-color: #eee;
    overflow: auto;
    height: 100vh;
}
.content{
    position: relative;
    padding: 10px;
    height: auto;
    /* background: white; */
    text-align: left;
    /* border-top: 1px solid #ddd; */
}
/* .nav-left-content{
    background-color: #5c4815;
}
.nav-left-content .ant-menu{
    background-color: #5c4815;
}
.ant-menu-sub{
    background-color: #5c4815!important;
} */
